<h2>Add Course</h2>
<%= form_for @course, :html => {:class => "form-horizontal"} do |form| %>
<div class="col-md-5">
  <div class='form-group'>
    <%= form.label :name, class:"control-label col-sm-2"%>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= form.label :city, class:"control-label col-sm-2" %>
    <%= form.text_field :city, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= form.label :state, class:"control-label col-sm-2" %>
    <%= form.select :state, options_for_select(us_states), :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= form.label :architect, class:"control-label col-sm-2" %>
    <%= form.text_field :architect, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= form.label :style, class:"control-label col-sm-2" %>
    <%= form.select :style, options_for_select([['Links', 'Links'], ['Parkland', 'Parkland'], ['Desert', 'Desert'], ['Heathland', 'Heathland'], ['Resort', 'Resort']]), :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= form.label :rating,  class:"control-label col-sm-2" %>
    <%= form.text_field :rating, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= form.label :slope,  class:"control-label col-sm-2" %>
    <%= form.text_field :slope, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= form.label :number_holes, 'Holes',  class:"control-label col-sm-2" %>
    <%= form.select :number_holes, options_for_select([['9', '9'], ['18', '18']]), :class => 'dropdown-select' %>
  </div>
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit 'submit', :id => 'form-button', :class => 'btn btn-default' %>
    </div>
</div>

<% end %>
