<h1><%= @course.name %></h1>
<% @holes.each do |hole| %>
<h4><%= link_to "Hole #{hole.hole_number}", edit_hole_path(hole) %></h4>
<% if hole.yardage && hole.par != nil %>
<p><strong><%= hole.yardage %> yard Par <%= hole.par %></strong></p>
<% end %>
<% if hole.tips.length != 0 %>
<% hole.tips.each do |tip| %>
<%= link_to like_tip_path(tip),  class: "like", method: :put do %>
<button type="button" class="btn btn-info" aria-label="Left Align">
 <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
 <span class="badge"><%= tip.get_upvotes.size %></span>
</button>
<% end %>
<%= link_to dislike_tip_path(tip), class: "like", method: :put do %>
<button type="button" class="btn btn-info" aria-label="Left Align"> 
 <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
 <span class="badge"><%= tip.get_downvotes.size %></span>
</button>  
<% end %> 
<p><%= tip.body %></p>
<% end %>
<% end %> 

<%= link_to "Add a Tip", new_hole_tip_path(hole)  %>
<% end %>